{% load static %} <!-- Replace 'base.html' with your base template if applicable -->
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'editprofile.css' %}">
    </head>
    <body> 
    <div class="edit-profile-container">
        <h2>Edit Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
    </div>
    <script src="" async defer></script>
</body>
</html>
{% endblock content %}
